<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"
                     defaultHref="/">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Partidos Jugados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid >
    <ion-row >
      <ion-col size="12" *ngFor="let item of partidosjugados; " [routerLink]="['/', 'main', item.imdbID]" >
       <ion-card color="secondary" outline=true>
         <ion-card-header>
           <ion-row>
             <ion-col size="10" class="ion-padding-top" >

               <ion-row> <ion-card-title>{{item.equipo}}</ion-card-title></ion-row>
               <ion-row><ion-card-subtitle>{{item.fecha}}</ion-card-subtitle></ion-row>

             </ion-col>
             <ion-col size="2"><ion-card-title class="ion-text-center " ><h1>{{item.resultado}}</h1></ion-card-title></ion-col>
           </ion-row>
         </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> SOCCER 4U </ion-title>
  </ion-toolbar>
</ion-footer>
