<ion-header>
  <ion-toolbar color="primary" >
  
    <ion-buttons slot="start" >
      <ion-menu-button menu="first">
        <ion-icon color="light"
                  name="menu-outline">
        </ion-icon>
      </ion-menu-button>
      
    </ion-buttons>
    <!--<ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="start" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->

    <ion-title>inicio</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-card>
      <ion-item color="primary">
        <ion-icon slot="start" name="football-outline"></ion-icon>
        <ion-label class="text-card">¿Que es Soccer4U?</ion-label>
      </ion-item>
  
    <ion-card-content class="text-card, ion-text-justify" > 
      Soccer 4U su nombre significa “fútbol para ti”.
      Esta aplicación está pensada para equipos locales de fútbol, para ligas no profesionales, 
      la cual servirá para registrar equipos distinguiendo entre entrenadores, técnicos y jugadores.
      La app permite agregar, consultar, eliminar y modificar equipos. La forma en la que esta app generará
      ingresos será mediante la colocación de anuncios. También tenemos pensado hacer otra versión con 
      beneficios extra en el futuro. Una vez que esté posicionada.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/champion.jpg"></ion-img>
    <ion-card-content class="text-card, ion-text-justify">
      En esta aplicacion practicamente podras ver los resultados del torneo, asi como la tabla general de cada
      torneo, los proximos partidos de cada torneo, asi como los resultados de dichos torneos. Tambien podras
      ver los rankings de los torneos
    </ion-card-content>
  </ion-card>
  
  

</ion-content>


<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> SOCCER 4U </ion-title>
  </ion-toolbar>
</ion-footer>