<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"
                     defaultHref="/">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>3ra Division San Joaquin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  
 
  <table class="tabla">

    <caption></caption>
    <tr>
      <th>Equipo</th>
      <th>J</th>
      <th>G</th>
      <th>E</th>
      <th>P</th>
      <th>PTS</th>
    </tr>

    <tr>
      <td>Pachuca</td>
      <td>8</td>
      <td>6</td>
      <td>0</td>
      <td>2</td>
      <td>18</td>
    </tr>

    <tr>
      <td>Gaby</td>
      <td>7</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>18</td>
    </tr>

    <tr>
      <td>Loar</td>
      <td>8</td>
      <td>6</td>
      <td>0</td>
      <td>2</td>
      <td>18</td>
    </tr>

    <tr>
      <td>El Chato</td>
      <td>7</td>
      <td>5</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
    </tr>

    <tr>
      <td>Mayorquin</td>
      <td>8</td>
      <td>4</td>
      <td>1</td>
      <td>3</td>
      <td>12</td>
    </tr>

    <tr>
      <td>Los Nietos</td>
      <td>7</td>
      <td>4</td>
      <td>0</td>
      <td>3</td>
      <td>12</td>
    </tr>

    <tr>
      <td>Los Mangos</td>
      <td>8</td>
      <td>4</td>
      <td>0</td>
      <td>4</td>
      <td>12</td>
    </tr>

    <tr>
      <td>Tecnicos</td>
      <td>8</td>
      <td>3</td>
      <td>2</td>
      <td>3</td>
      <td>11</td>
    </tr>

    <tr>
      <td>Leones</td>
      <td>8</td>
      <td>2</td>
      <td>1</td>
      <td>5</td>
      <td>7</td>
    </tr>

    <tr>
      <td>Alarcon</td>
      <td>8</td>
      <td>0</td>
      <td>3</td>
      <td>5</td>
      <td>3</td>
    </tr>

    <tr>
      <td>Ebano</td>
      <td>7</td>
      <td>1</td>
      <td>0</td>
      <td>6</td>
      <td>3</td>
    </tr>

    <tr>
      <td>Joaquin</td>
      <td>8</td>
      <td>1</td>
      <td>0</td>
      <td>7</td>
      <td>3</td>
    </tr>
  </table>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> SOCCER 4U </ion-title>
  </ion-toolbar>
</ion-footer>

