
<ion-content class="fondo">
      <ion-img class="ion-padding"
      src="/assets/Soccer4U.png">
    </ion-img>

    

  <form class="ion-padding">

   
    <ion-input  size="large"
                class="text-small"
                type="text" 
                placeholder="Usuario">

    </ion-input>

    <br>
    <br>
    <ion-input type="password" 
               class="text-small"
               placeholder="Contraseña">

    </ion-input>
    <br>
    <br>
    <ion-button size="large"
                routerLink="/inicio" 
                expand="block" 
                (click)="mostrarLoading()">
        Inicio
    </ion-button>
    <br>

    <br>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <b>¿No tines una cuenta? Registrate</b>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  
    
   

    <ion-button size="large" 
                routerLink="/registro" 
                expand="block" >
        Cuenta Nueva
    </ion-button>
  </form>


 

</ion-content>


