<ion-app>

  <ion-menu-toggle>
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Soccer4U</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item routerLink="inicio">
            Inicio
          </ion-item>
          <ion-item routerLink="torneos">
            Torneos
          </ion-item>
          <ion-item routerLink="partjugados">
            Partidos Jugados
          </ion-item >
          <ion-item routerLink="proxpartidos">
            Proximos Partidos
          </ion-item>
          <ion-item routerLink="proxpartidos">
            Jugadores
          </ion-item>
          i
        </ion-list>
        
      </ion-content>
  
  
  
      <ion-item class="sesion"
                color="primary"
                routerLink="/login">
        Cerrar Sesion
      </ion-item>
      
    </ion-menu>
  </ion-menu-toggle>

  <ion-router-outlet id="main"></ion-router-outlet>

 

</ion-app>


