<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"
                     defaultHref="/">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Torneos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-padding">
    <ion-item color="primary">
      <ion-icon name="trophy-outline"
                class="ion-padding">

      </ion-icon>
      <ion-label class="titulo-torneo">
        3ra Division San Joaquin
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-img class="img" src="/assets/trofeo.png"> </ion-img>
      <br>
      <br>
     <ion-label>
       Enterate de los resultados de la liga con mayor prestigio de mazatlan.
     </ion-label>

      <br>

     <ion-label class="text-ubicacion">
      Ubicacion:
    </ion-label>
    <ion-label>
      C. Siqueros, San Joaquín.
    </ion-label>

    <br>
    <ion-label class="text-ubicacion">
      Estado:
    </ion-label>
      <ion-label>
        En curso.

      </ion-label>


    </ion-card-content>

    <ion-button expand=""
                color="warning" 
                routerLink="/sanjoaquin">
      Ver Mas..

    </ion-button>

  </ion-card >

  
  <ion-card class="ion-padding">
    <ion-item color="primary">
      <ion-icon name="trophy-outline"
                class="ion-padding">

      </ion-icon>
      <ion-label class="titulo-torneo">
        Liga Toledo Corro
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-img class="img" src="/assets/trofeo.png"> </ion-img>
      <br>
      <br>
     <ion-label>
       Enterate de los resultados de la liga con mayor prestigio de mazatlan.
     </ion-label>

      <br>

     <ion-label class="text-ubicacion">
      Ubicacion:
    </ion-label>
    <ion-label>
      Av. Juan Pablo II, Antonio Toledo Corro.
    </ion-label>

    <br>
    <ion-label class="text-ubicacion">
      Estado:
    </ion-label>
      <ion-label>
        En curso.

      </ion-label>
    </ion-card-content>

    <ion-button expand=""
                color="warning"
                routerLink="/toledo">
      Ver Mas..

    </ion-button>

  </ion-card >

  
  <ion-card class="ion-padding">
    <ion-item color="primary">
      <ion-icon name="trophy-outline"
                class="ion-padding">

      </ion-icon>
      <ion-label class="titulo-torneo">
        Liga Burocrata
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-img class="img" src="/assets/trofeo.png"> </ion-img>
      <br>
      <br>
     <ion-label>
       Enterate de los resultados de la liga con mayor prestigio de mazatlan.
     </ion-label>

      <br>

     <ion-label class="text-ubicacion">
      Ubicacion:
    </ion-label>
    <ion-label>
      C. Siqueros, San Joaquín.
    </ion-label>

    <br>
    <ion-label class="text-ubicacion">
      Estado:
    </ion-label>
      <ion-label>
        En curso.

      </ion-label>
    </ion-card-content>

    <ion-button expand=""
                color="warning"
                routerLink="/burocrata">
      Ver Mas..

    </ion-button>

  </ion-card >

  
  <ion-card class="ion-padding">
    <ion-item color="primary">
      <ion-icon name="trophy-outline"
                class="ion-padding">

      </ion-icon>
      <ion-label class="titulo-torneo">
        Info Playas League
      </ion-label>
    </ion-item>
  
    <ion-card-content>
      <ion-img class="img" src="/assets/trofeo.png"> </ion-img>
      <br>
      <br>
     <ion-label>
       Enterate de los resultados de la liga con mayor prestigio de mazatlan.
     </ion-label>

      <br>

     <ion-label class="text-ubicacion">
      Ubicacion:
    </ion-label>
    <ion-label>
      Av. Juan Pablo II, Antonio Toledo Corro.
    </ion-label>

    <br>
    <ion-label class="text-ubicacion">
      Estado:
    </ion-label>
      <ion-label>
        En curso.

      </ion-label>
    </ion-card-content>

    <ion-button expand=""
                color="warning"
                routerLink="/infoplaya">
      Ver Mas..

    </ion-button>

  </ion-card >

 
</ion-content>


<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> SOCCER 4U </ion-title>
  </ion-toolbar>
</ion-footer>

